* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0;
  }
  
  body {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
  }
  
  header {
    padding: 10px;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    background: #13293d;
    color: #fff;
  }

  h1 {
    margin-top: -20px;
    font-size: 50px;
  }

  .my-pic {
    width: 5%;
    margin-bottom: -20px;
  }

  nav {
    display: flex;
    justify-content: flex-end;
    background-color: #d8a47f;
  }

  nav a {
    color: #13293d;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }

  .paws {
    height: 500px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url(.\assets\images\cat-paws.jpg);
    background-size: cover;
    background-position: center;
  }

  .cat-on {
    background-color: #13293d;
    display: flex;
    flex-direction:column;
    align-items: left;
}
  
.box {
  background-color: #d8a47f;
  border: 1px solid black;
  border-radius: 5px;
  width: 600px;
  height: 150px;
  text-align: center;
}

.sitting {
  width: 20%;
  margin-left: 125px;
}

  h2 {
    text-align: center;
    font-size: 35px;
  }

  footer {
    padding: 20px;
    text-align: center;
    background: #13293d;
    color: #fff;
    margin-top: auto;
  }
  
  @media screen and (max-width: 768px) {
    main,
    nav,
    .product {
      flex-direction: column;
    }
  
    .product-slideshow button {
      /* Removes the slideshow buttons from the document flow */
      display: flex;
    }
  
    .product-details {
      margin-left: 0;
    }
  }